p{
    font-size: 100px;
    color:blueviolet;
    font-weight: 900;
    text-transform: uppercase;
    
}
.hello{
    text-align: center;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}